html, body {
  height: 100%;
  width: 720px;
}

#loading {
	background:#000 url(images/loader.gif) no-repeat center center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	margin: -25px 0 0 -25px;
	color: #FFFFFF;
	font-size: 2em;
	text-align: center;
}

#loading span {
	left: 50%;
	top: 50%;
	margin-left: -5.5em;
	margin-top: -1.5em;
	position: fixed;
}

#grid {
    width: 720px;
    height: 720px;
	display: -ms-grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	-ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border: 1px solid gray;
}

#grid div {
	border: 2px dotted black;
	-ms-grid-column-span: 1;
	-ms-grid-row-span: 1;
	z-index: 1;
	opacity: 1;
}

#chooser div {
	width: 80px;
	height: 80px;
	float: left;
}

#prompt > #aiselect {
	display: hidden;
}

.en {
	background-image: url('images/en.gif');
}

.es {
	background-image: url('images/es.gif');
}

.ew {
	background-image: url('images/ew.gif');
}

.ne {
	background-image: url('images/ne.gif');
}

.ns {
	background-image: url('images/ns.gif');
}

.nw {
	background-image: url('images/nw.gif');
}

.se {
	background-image: url('images/se.gif');
}

.sn {
	background-image: url('images/sn.gif');
}

.sw {
	background-image: url('images/sw.gif');
}

.we {
	background-image: url('images/we.gif');
}

.wn {
	background-image: url('images/wn.gif');
}

.ws {
	background-image: url('images/ws.gif');
}

.blank {
	background-image: url('images/blank.gif');
}

.blank2 {
	background-image: url('images/blank2.gif');
}

.hidden {
	display: none;
}
